/*Navbar Styling*/
#title {
  background-color: #2f4858;
}

.navbar {
  padding: 10px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.8rem;
  font-weight: 400;
  padding-left: 1.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.media-wrapper {
  text-align: center;
}

.icons {
  color: #FFBD69;
  padding-right: 1rem;
}

/*Header styling*/
.bg-video {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-video__content {
  width: 100%;
  height: 89vh;
  object-fit: cover;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.typing-demo {
  width: 25ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Montserrat-black";
  font-weight: bolder;
  font-size: 5rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*padding for all sections*/
#features {
  padding: 9% 11% 5% 11%;
}

#problems {
  padding: 6% 11% 5% 11%;
}

#mission {
  padding: 6% 11% 5% 11%;
}

#footer {
  padding: 6% 10% 5% 10%;
}

/*section 2*/
.Bigheading {
  padding-left: 0;
  font-family: 'Libre Baskerville', serif;
  padding-bottom: 3%;
}

.feature-title {
  font-size: 1.5rem;
  font-family: 'Libre Baskerville', serif;
}

.feature-box {
  padding: 8% 2% 5% 5%
}

.b1 {
  /*box1*/
  background-color: #efd3d7;
}

.b2 {
  /*box2*/
  background-color: #feeafa;
}

.b3 {
  /*box3*/
  background-color: #dee2ff;
}

.feature-box p {
  margin-top: 20px;
  margin-bottom: 1.5rem;
  font-size: 110%;
  font-family: 'Work Sans', sans-serif;
}

.feaimg {
  width: 200px;
  border-radius: 100%;
  padding-bottom: 10%;
}

.succeed {
  /* h2 heading below grid*/
  padding: 2%;
  font-family: 'Crimson Text', serif;
  background-color: #355070;
  color: #edf2f4;
}
/*testimonials*/
#testimonials{
  text-align: center;
  background-color: #6D597A;
  color: #fff;
  height:600px;
}
.carousel-item{
    padding:8% 15%;
}
.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin:20px;
}

/* Problems section*/
#problems{
  background: linear-gradient(to bottom,#eddcd2,#fff1e6,#f0efeb);
}
.text {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
}

.box {
  width: 300px;
  height: 300px;
}

.box3 {
  background-color: #a8dadc;
  animation: colorchange3 5s linear infinite 0s;
  animation-timing-function: ease-in-out;
}

@keyframes colorchange3 {
  0% {
    background-color: #1d3557;
  }

  50% {
    background-color: #457b9d;
  }

  100% {
    background-color: #a8dadc;
  }
}

.pro {
  padding: 3%;
}

.school {
  width: 300px;
  height: 300px;
  padding: 5%;
}

/* Mission Styling */
#mission {
  background: linear-gradient(to bottom, #ffcdb2, #ffb4a2, #e5989b);
}

.rocket {
  width: 70%;
}

/*footer*/
#footer {
  background-color: #2f4858;
}

.logoname {
  text-decoration: none;
  color: #ffffff;
}

.footerlogo {
  text-align: center;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 4%;
}

.foo {
  padding: 3% 2% 2% 2%;
  text-align: center;
}

.footer__navigation {
  text-align: center;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item{
  margin-right: 1.5rem;
}

.footer__link:link,
.footer_link:visited {
  color: white;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}

.footer__link:hover,
.footer__link:active {
  color: #F4A460;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.footer__item a {
  color: white;
  font-size: 1.2rem;
}

.footer__copyright {
  color: white;
}

@media screen and (max-width:768px) {
  .testimonial-text{
    font-size:1.3rem;
  }
  .footer__item {
    display: block;
  }

}
